* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }

header {
    background: #c33e3e;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul { list-style: none; display: flex; }
nav ul li { margin-left: 20px; }
nav ul li a { color: #fff; text-decoration: none; }

.hero {
    background: #dba4a4;
    padding: 80px 20px;
    text-align: center;
}
.hero h2 { font-size: 32px; margin-bottom: 20px; }

 .portfolio, .contact {
    padding: 40px 20px;
}
.service,  .article, .portfolio .project {
    border: 1px solid #eee;
    padding: 20px;
    margin: 10px 0;
    border-radius: 6px;
}
img { width: 100%; display: block; border-radius: 6px; }

form input, form textarea, form button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

footer {
    background: #e83939;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.abouthead {
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 550px;
    padding: 80px 20px;
    font-family: serif;
    font-size: 160%;
    text-align: center;
}
.abouttext {
    
    margin-right: 50px;
    margin-left: 500px;
    font-family: serif;
    font-size: 160%;
    text-align: center;
}
.aboutimg {
    width: 400px;
    height: auto;
    float:left;
    margin-left: 100px;
    padding: 10px 20px;
    margin: 5px;
}
.serviceshead {
    margin-top: 100px;
    text-align: center;
    padding: 80px 20px;
    font-family: serif;
    font-size: 160%;
    text-align: center;
}
.services {
    margin-top: 40px;
    padding: 40px 20px;
    text-align: center;
    border: 3px solid #d66b6b;
    border-radius: 5px;
    display: flex;
    gap: 30px; 
    margin-right: 50px;
    margin-left: 50px;

}
.service{
    
    padding: 20px;
    margin-top: 10px;
    width: 40%; 
    box-sizing: border-box;
}

.blog{
    margin-top: 40px;
    padding: 40px 20px;
    text-align: center;
    border: 3px solid #d66b6b;
    border-radius: 5px;
    display: flex;
    gap: 30px; 
    margin-right: 50px;
    margin-left: 50px;
}


